/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
    margin:0;
}

button {
cursor: url(/images/cursorhat.png) 55 15, auto;
}

/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
  --achtergrondbord: rgb(215 231 205);
  --langestraat: rgb(0 130 0);
  --kortestraat: rgb(0 100 198);
  --straatstreep: rgb(0 0 0);
}





/* HEADER */

header {
  position: fixed;
  left:0;
  top:0;
  background-color: #f006;
}


/* MAIN */
main {
  position: fixed;
  border-style: solid;
   top:0;
  bottom:0;
  width:100%;
  max-width:40em;
  background-color: #00f6;
  left:max( calc((100vw - 40em) / 2), 0em);
}

#pennybagsimg {
  position: relative;
  width: 100%;
  z-index: 1;
}

.tafel {
  width: 100%;
  background-color: #331812;
}

/* GELDSTAPELTJES PLAATSING EN STYLING */
main section:nth-of-type(1) ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  margin-top: -3em;
  padding: 0;
  padding-bottom: .5em; 
  }

main section:nth-of-type(1) ul li {
  position: relative;
  border-style: solid;
  border-color: rgb(255 255 255 / .3);
  border-width: .3em;
  box-shadow: .5em .5em 1em 0em;
  width: 3.5em;
  height: 6em;

}

 ul h3{
  transform: rotate(-90deg);
  text-align: center;
 }

 .geld1 {
  background-color: rgb(214 218 227);
 }

 .geld5 {
  background-color: rgb(229 180 196);
 }

 .geld10 {
  background-color: rgb(158 198 200);
 }

 .geld20 {
  background-color: rgb(205 214 197);
 }

 .geld50 {
  background-color: rgb(185 169 205);
 }

 .geld100 {
  background-color: rgb(214 183 152);
 }

 .geld500 {
  background-color: rgb(242 169 75);
 }

 #geldcirkel {
  position: absolute;
	top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 60%;
	border-radius: 50%;
	background-color: rgb(255 255 255 / .3);
 }






/* MONOPOLYBORD TIJDLIJN */

 ol {
  margin:0;
  padding:0;
  display:flex;
  list-style:none;
  align-items: start;
  width:100%;
  overflow: auto;
  /* -ms-overflow-style: none;  IE and Edge
  scrollbar-width: none; */
 }

 /* Hide scrollbar for Chrome, Safari and Opera */
/* ol::-webkit-scrollbar { */
  /* display: none; */
/* } */

ol::-webkit-scrollbar {
background-color: antiquewhite;
height: 1.3em;
}

ol::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
 
}

ol::-webkit-scrollbar-thumb {
  background-color: var(--kortestraat);
  border-radius: 50em;
}



ol > li {
  position: relative;
  border-style: solid;
  border-right: 1em;
  width:16%;
  /* height: 32vw; */
  aspect-ratio: 1/2;
  flex-shrink:0;
}

ol > li > button {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  appearance: none;
  border: none;
  background: none;
  font-size: 1em;

}

.gevangenis {
  background-color: var(--achtergrondbord);
  background-image: url(images/go-to-jail.png);
  background-size: 100%;
    width: 32%;
  aspect-ratio: 1/1;

  }

.tijdlijn1 {
  background-image:linear-gradient(
    var(--achtergrondbord) 69%,
    var(--straatstreep) 69%,
    var(--straatstreep) 71%,
    var(--langestraat) 71%
  );
   
}

.tijdlijn2 {
  background-image:linear-gradient(
    var(--achtergrondbord) 69%,
    var(--straatstreep) 69%,
    var(--straatstreep) 71%,
    var(--langestraat) 71%
  )
}

.algemeenfonds {
background-color: var(--achtergrondbord);
background-image: url(/images/algemeen-fonds.png);
background-size: 100%;
}

.tijdlijn4 {
  background-image:linear-gradient(
    var(--achtergrondbord) 69%,
    var(--straatstreep) 69%,
    var(--straatstreep) 71%,
    var(--langestraat) 71%
  )
}

.station {
  background-color: var(--achtergrondbord);
  background-image: url(/images/trein-station.png);
  background-size: 100%;
  }
  
  .kans {
    background-color: var(--achtergrondbord);
    background-image: url(/images/kans-teken.png);
    background-size: 100%;
    }

  .tijdlijn7 {
    background-image:linear-gradient(
      var(--achtergrondbord) 69%,
      var(--straatstreep) 69%,
      var(--straatstreep) 71%,
      var(--kortestraat) 71%
    )
  }

  .belasting {
    background-color: var(--achtergrondbord);
    background-image: url(/images/tax-ring.png);
    background-size: 100%;
    }

  .tijdlijn9 {
    background-image:linear-gradient(
      var(--achtergrondbord) 69%,
      var(--straatstreep) 69%,
      var(--straatstreep) 71%,
      var(--kortestraat) 71%
    )
  }

  .go {
    background-color: var(--achtergrondbord);
    background-image: url(/images/go-arrow.png);
    background-size: 100%;
    width: 32%;
    aspect-ratio: 1/1;
      }







/******************************/
/* EIGENDOMSBEWIJZEN TIJDLIJN */
/******************************/

/* DIALOG ALGEMEEN */

dialog {
  display: block;
  position: fixed;
  inset: 0;  
  width: min(60%, 19em);
  background-color:rgb(255 255 255);
  box-shadow: .5em .5em 1em 0em;
  padding:0;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition: .5s;
}

dialog::backdrop {
  -webkit-backdrop-filter: blur(.5em);
  backdrop-filter: blur(.5em);
}

dialog[open] {
  opacity: 1;
  pointer-events: all;
}

dialog form {
  position: relative;
  padding:1em;
  display:grid;
  gap:1em;
  overflow:hidden;
}

#streep {
  background-color: rgb(0 0 0);
  padding: .5%;
}


dialog h2 {
  border: solid;
  padding: 1em;
  margin:0;
  text-align: center;
}  

dialog ul {
  margin:0;
  padding:0;
  list-style:none;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sluitbutton {
position: absolute;  
background: url(/images/Dice-5-b.svg.png) no-repeat;
cursor:pointer;
background-size: cover;
width: 2.5em;
height: 2.5em;
left: 85%;
top: 2%;
}

dialog ul li img {
  width: 100%;
}
  
p {
  margin:0;
}



/* DIALOG PER TIJDLIJNPUNT */

#dialog1935 h2 {
  background-color: var(--langestraat);
}





#dialog1937 ul {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr .5fr;
}

#dialog1937 h2 {
  background-color: var(--langestraat);
}

#dialog1937 li:nth-of-type(1) {
  grid-column-start: 2;
}

#dialog1937 li:nth-of-type(2) {
  grid-column-start: 3;
}

#dialog1937 li:nth-of-type(3) {
  grid-column-start: 2;
}

#dialog1937 li:nth-of-type(4) {
  grid-column-start: 3;
}





#dialog1943 ul {
  display: grid;
  grid-template-columns: 1fr;
}

#dialog1943 h2 {
  background-color: var(--langestraat);
}





#dialog1950 ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }

#dialog1950 h2 {
  background-color: var(--kortestraat);
}

#dialog1950 li:nth-of-type(1) {
  grid-column-start: 1;
}

#dialog1950 li:nth-of-type(2) {
  grid-column-start:3;
}

#dialog1950 li:nth-of-type(3) {
  grid-column-start: 2;
}





#dialog1999-2016 li:nth-of-type(5) {
  grid-column-start: 3;
}

#dialog1999-2016 h2 {
  background-color: var(--kortestraat);
}


/* GEVANGENIS VAKJE */

#gevangenisknop {
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: url(/images/handcuff-closed-cursor.png) 55 15, auto;
}

#gevangenisknop img {
  position: absolute;
  width: 100%;
  height: 100%;

}

#gevangenisknop h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 8em;
  color: black;
 
}







.button-container {
  position: absolute;
  left: 50%;
  top: 87%; 
  width: 40%;
  max-width: 20em;
  transform: translate(-50%, -50%);
}

  .button-flipper{
  width: 100%;
  height: 100%;
  aspect-ratio: 2/1;
  transition: 1s ease;
  transform-style: preserve-3d;
  position: relative;
}

.front-button {
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid;
  border-color: white;
  border-width: .3%;
  background-image: linear-gradient(rgb(218, 73, 29), rgb(230, 102, 28));
  box-shadow: .3em .3em .3em .0em black;
  font-size: 2em;
  color: #fff;

  transform: rotateY(0deg);
  backface-visibility: hidden;
  z-index: 2;
  box-shadow: .3em .3em .3em .0em black;
  cursor: url(/images/handcuff-open-cursor.png) 55 15, auto;
 }

 .front-button img {
  position: absolute;
  object-fit:scale-down;
  padding: .3em;
  transform: translate(-50%, -50%);
 }

.back-button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  border-style:double;
  border-width: .4em;
  border-color: black;
  background-color: rgb(255, 255, 250);
  box-shadow: .3em .3em .3em .0em black;
 
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  cursor: url(/images/handcuff-open-cursor.png) 55 15, auto;
}

.back-button h3 {
  grid-column-start: 2;
  grid-row-start: 1;
  text-align: center;
  margin: 0;
  color: black;
}

.back-button p {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  font-size: 95%;

 }

.back-button img {
  grid-column-start: 3;
  grid-row-start: 1;
  object-fit: contain;
}

/******************************/
/* ANIMATIES */
/******************************/

@keyframes sluitbutton {
  0% { 
    transform: rotate(0deg);
    
  } 
  100% {
    transform: rotate(360deg);
  }
}

dialog button:hover {
  animation-name: sluitbutton;
  animation-duration: .5s;
}






/* Gevangenis animaties */

@keyframes jaildrop{
  0% {
    transform: translateY(-90em);
  }
  
  65% {
    transform: translateY(0em)
  }
  75% {
    transform: translateY(-5em)
  }
  100% {
    transform: translateY(0em)
  }
}




#gevangenisknop {
animation-name: jaildrop;
animation-duration: 1s;
transition-timing-function: ease-in forwards;
animation-play-state: paused;
}




 .button-flipper:hover {
transform: scale(200%) translateY(-5em) rotateY(180deg);
} 



@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

#gevangenisknop.fadeOut {
  opacity: 0;
}


/* ... */


